@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Poppins');
html, #root{
    font-family: 'Poppins', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
}
.bordered{
    border: 1px solid;
}
.menu a{
    color: #ffffff;
    font-size: 13px;
}
.menu .uk-nav-parent-icon>.uk-parent>a::after {
    background: none;
}
.sidebar{
    /* padding-left: 20px; */
    background: #2980b9;
    height: 100vh;
    overflow: auto;
    /* box-shadow: -5px 0px 10px rgba(0, 0, 0, .2) inset; */
    border-right: 2px solid rgb(52, 73, 94);
}
.main{
    background: #ffffff;
    height: 100vh;
    overflow: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
}
.sidebar_header{
    text-align: center;
    border-bottom: 1px solid #333333;
}
.sidebar_header .logo{
    max-width: 100%;
    width: 50px;
}
.sidebar__title{
    font-size: 20px;
    letter-spacing: 2px;
    /* font-weight: bold; */
    margin: 25px 0 15px;
    text-transform: uppercase;
}
#loading{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .5);
    text-align: center;
    display: none;
    justify-content: center;
    flex-direction: column;
    z-index: 10000;
}

.login{
    background: #2980b9;
    height: 100vh;
    min-height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}